.greenButton {
    background-color: #28a745;
}
  
.greenButton:hover {
    background-color: #248b3c;
} 
  
.yellowButton{
    background-color: #dfb630;  
}  
  
.yellowButton:hover {
    background-color: #bd9a28; 
}
  
.redButton {
    background-color: #a72828;
}

.redButton:hover {
    background-color: #882121;
}  